<table class="table table-advance table-hover table-striped table-checkable order-column">
    <thead>
        <tr>
            <th width='1%'>
                <%= erp_datalist_check_all %>
            </th>
            <% if get_columns(params).include?("name") %>
                <th class="sortable" sort-by='erp_taxes_taxes.name'>
                    <%= t('.name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("amount") %>
                <th>
                    <%= t('.amount') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("short_name") %>
                <th class="sortable" sort-by='erp_taxes_taxes.short_name'>
                    <%= t('.short_name') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("status") %>
                <th>
                    <%= t('status') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("creator") %>
                <th>
                    <%= t('creator') %>
                </th>
            <% end %>
            <% if get_columns(params).include?("updated_at") %>
                <th class="sortable" sort-by='erp_taxes_taxes.updated_at'>
                    <%= t('updated_at') %>
                </th>
            <% end %>
            <th width="7%"><%= t('actions') %></th>
        </tr>
    </thead>
    <tbody>
        <% if @taxes.each do |tax| %>
            <tr class="odd gradeX">
                <td>
                    <%= erp_datalist_check_row(id: tax.id) %>
                </td>
                <% if get_columns(params).include?("name") %>
                    <td><%= link_to tax.name, erp_taxes.edit_backend_tax_path(tax) %></td>
                <% end %>
                <% if get_columns(params).include?("amount") %>
                    <td><%= tax.amount %></td>
                <% end %>
                <% if get_columns(params).include?("short_name") %>
                    <td><%= tax.short_name %></td>
                <% end %>
                <% if get_columns(params).include?("status") %>
                <td>
                    <% if tax.archived == true %>
                    <span class="label label-sm label-danger"><%= t('archived') %></span>
                    <% else %>
                    <span class="label label-sm label-success"><%= t('active') %></span>
                    <% end %> 
                </td>
                <% end %>
                <% if get_columns(params).include?("creator") %>
                    <td></td>
                <% end %>
                <% if get_columns(params).include?("updated_at") %>
                    <td><%= tax.updated_at.strftime("%d/%m/%Y") %></td>
                <% end %>
                <td>
                    <%= erp_datalist_row_actions(
                        [
                            {
                                text: '<i class="fa fa-edit"></i> '+t('edit'),
                                href: erp_taxes.edit_backend_tax_path(tax)
                            },
                            {
                                text: '<i class="fa fa-eye-slash"></i> '+t('archive'),
                                url: erp_taxes.archive_backend_taxes_path(id: tax),
                                data_method: 'PUT',
                                hide: tax.archived,
                                class: 'ajax-link'
                            },
                            {
                                text: '<i class="fa fa-eye"></i> '+t('unarchive'),
                                url: erp_taxes.unarchive_backend_taxes_path(id: tax),
                                data_method: 'PUT',
                                hide: !tax.archived,
                                class: 'ajax-link'
                            },
                            {
                                divider: true
                            },
                            {
                                text: '<i class="fa fa-trash"></i> '+t('.delete'),
                                url: erp_taxes.backend_tax_path(tax),
                                data_method: 'DELETE',
                                class: 'ajax-link',
                                data_confirm: t('delete_confirm')
                            }
                        ]
                    ) %>
                </td>
            </tr>
        <% end.empty? %>
            <tr>
                <td colspan="7"><%= t('.no_matching_records_found') %></td>
            </tr>
        <% end %>
    </tbody>
</table>
        
<%= erp_datalist_pagination(@taxes) %>